<%= turbo_frame_tag "line_items" do %>
  <% if @page.zero? %>
    <%= render partial: 'line_items/filters' %>

    <%= render partial: 'line_items/header', locals: { total_billable: @total_billable, total_line_items: @total_line_items } %>
  <% end %>

  <div class="line-item-list"> 
    <% @line_items_paginated.each do |line_item| %>
      <div class="line-item-row">
        <div class="name" title="<%= line_item.name %>"><%= line_item.name %></div>
        <div class="campaign-name" title="<%= line_item.campaign.name %>"><%= line_item.campaign.name %></div>
        <div class="booked-amount"><%= number_to_currency line_item.booked_amount %></div>
        <div class="actual-amount"><%= number_to_currency line_item.actual_amount %></div>
        <div class="adjustments"><%= number_to_currency line_item.adjustments %></div>
        <div class="billable"><%= number_to_currency line_item.billable_amount %></div>
      </div>
    <% end %>
  </div>

   <% if @page < @max_page %>
      <%= turbo_frame_tag "line_items", 
                          loading: :lazy, 
                          src: line_items_path(params: { page: @page + 1, name_filter: params[:name_filter], campaign_name_filter: params[:campaign_name_filter] }) do %>
        Loading...
      <% end %>
    <% end %>
<% end %>
